h1 {
  text-align: center; }

body {
  font-size: medium;
  color: blue; }

.movies {
  font-style: sans-serif; }

table, th, td {
  border: 1px solid black;
  border-spacing: 0px; }
  table p, th p, td p {
    font-size: small; }

a:link {
  color: green;
  text-decoration: none; }

a:visited {
  color: orange;
  text-decoration: none; }

ul li {
  color: black !important; }

.best {
  font-style: italic; }

section table {
  margin: 1px;
  margin-left: 25%; }

section p {
  margin-left: 20%;
  text-align: center; }

#selfie {
  float: right; }

#inspiration h3 {
  text-align: center; }

#inspiration figcaption {
  text-align: center; }
